@media (min-width: 992px) {
  .item {
    width: calc(95% / 5);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .item {
    width: calc(98% / 2);
    &:not(:last-of-type) {
      margin-bottom: 1.25rem;
    }
  }
}
@media (max-width: 767px) {
  .item {
    width: 100%;
    &:not(:last-of-type) {
      margin-bottom: 1.25rem;
    }
  }
}
