<app-header [trainingCourses]="true" [title]="'sidenav.dashboard.coursesNumbers'"></app-header>
<div class="mb-5">
  <p-tabView>
    <p-tabPanel header="{{'dashboard.courses.effectiveCourses' | translate}}">
      <div class="row">
        <div class="col-md-6">
          <app-metric-courses [lastMonth]="true" [coursesAnalysis]="true" [title]="'dashboard.courses.effectiveCourses'"></app-metric-courses>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <app-metric-courses [coursesAnalysis]="true" [title]="'dashboard.courses.totalEnrollment'"></app-metric-courses>
        </div>
        <div class="col-lg-4 col-md-6">
          <app-metric-courses [coursesAnalysis]="true" [title]="'dashboard.courses.completeCourses'"></app-metric-courses>
        </div>
        <div class="col-lg-4 col-md-6">
          <app-metric-courses [coursesAnalysis]="true" [title]="'dashboard.courses.rateCompleteCourses'"></app-metric-courses>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="{{'dashboard.courses.archivedCourses' | translate}}">
      <div class="row">
        <div class="col-md-6">
          <app-metric-courses [lastMonth]="true" [coursesAnalysis]="true" [title]="'dashboard.courses.archivedCourses'"></app-metric-courses>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <app-metric-courses [coursesAnalysis]="true" [title]="'dashboard.courses.totalEnrollment'"></app-metric-courses>
        </div>
        <div class="col-lg-4 col-md-6">
          <app-metric-courses [coursesAnalysis]="true" [title]="'dashboard.courses.completeCourses'"></app-metric-courses>
        </div>
        <div class="col-lg-4 col-md-6">
          <app-metric-courses [coursesAnalysis]="true" [title]="'dashboard.courses.rateCompleteCourses'"></app-metric-courses>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
