article {
  border-color: var(--border-color) !important;
  border-radius: 8px;
  h5 {
    color: #667085;
  }
  span {
    margin-inline-end: 5px;
  }
  a {
    border-top-color: inherit !important;
    color: var(--main-color);
  }
}
