<div class="table-responsive-lg">
  <table class="table my-3 border">
    <thead>
      <tr>
        <td colspan="3">
          <h5 class="py-1 mb-0 fw-bolder" [translate]="'dashboard.table.' + title"></h5>
        </td>
      </tr>
      <tr>
        <td [translate]="'dashboard.table.' + head1"></td>
        <td [translate]="'dashboard.table.' + head2"></td>
        <td [translate]="'dashboard.table.' + head3"></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <img loading="lazy" src="assets/media/icons/tv1.svg" alt="Icon">
          حقيبة مهارات القائد الناجح
        </td>
        <td>1000</td>
        <td *ngIf="!groups">
          <div class="flex-between flex-nowrap">
            <progress min="0" max="100" value="50"></progress>50%
          </div>
        </td>
        <td *ngIf="groups">5</td>
      </tr>
    </tbody>
  </table>
</div>
