<app-header [title]="'trainees'"></app-header>
<app-metric-courses [lastMonth]="true" [title]="'trainees.trainers'"></app-metric-courses>
<div class="row my-2">
  <div class="col-lg-6">
    <app-table [title]="'topTrainees'" [head1]="'traineeName'" [head2]="'numberTrainingCourses'" [head3]="'courseRate'"></app-table>
  </div>
  <div class="col-lg-6">
    <app-table [title]="'minimumTrainees'" [head1]="'traineeName'" [head2]="'numberTrainingCourses'" [head3]="'courseRate'"></app-table>
  </div>
</div>
