<app-header-section (visible)="showForm = $event" [organizationStructure]="true" [title]="'usersManagement.structureManagement.structureManagement'"></app-header-section>
<section class="p-3 shadow-sm rounded-bottom-3">
  <!-- <div class="text-center my-5">
    <p class="mb-0" translate="usersManagement.structureManagement.noData"></p>
  </div> -->
  <div class="row gy-3">
    <div class="col-xl-3 col-lg-4 col-md-6">
      <div class="ag-type rounded-3 p-4 overflow-hidden text-start position-relative bg-white">
        <span class="position-absolute rounded-circle"></span>
        <i [cdkMenuTriggerFor]="settingsOverlay" class="fa-solid fa-ellipsis-vertical position-relative"></i>
        <div class="flex-middle text-center">
          <a class="position-relative fw-bold" [routerLink]="['/users-management/organization', 1]">الشئون الصحية بمنطقة الجوف</a>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #settingsOverlay>
  <div class="overlay-fall" cdkMenu>
    <ul>
      <li cdkMenuItem (click)="showForm = !showForm" class="mt-1 rounded-circle flex-middle">
        <i class="text-white fa-solid fa-pen"></i>
      </li>
      <li cdkMenuItem (click)="showConfirmDelete = !showConfirmDelete" class="mt-1 rounded-circle flex-middle">
        <i class="text-white fa-solid fa-trash-can"></i>
      </li>
    </ul>
  </div>
</ng-template>
<p-dialog [(visible)]="showForm" [modal]="true" [style]="{width: '50vw'}" [breakpoints]="{'960px': '75vw'}" [draggable]="false" [resizable]="false">
  <form [formGroup]="usersManagement" (ngSubmit)="submitForm(usersManagement)" #form="ngForm">
    <app-select-input
      formControlName="type"
      [submitted]="form.submitted"
      [touched]="usersManagement.get('type')?.touched"
      [errors]="usersManagement.get('type')?.errors"
      [required]="usersManagement.get('type')?.getError('required')"
      [id]="'organizationType'"
      [name]="'organizationType'"
      [placeholder]="'forms.placeholders.organizationType'"
    ></app-select-input>

    <app-text-input
      formControlName="nameAr"
      [submitted]="form.submitted"
      [errors]="nameAr?.errors"
      [touched]="nameAr?.touched"
      [required]="nameAr?.getError('required')"
      [patternAr]="nameAr?.getError('pattern')"
      [type]="'text'"
      [id]="'organizationNameAr'"
      [name]="'organizationNameAr'"
      [placeholder]="'forms.placeholders.nameAr'"
    ></app-text-input>

    <app-text-input
      formControlName="nameEn"
      [submitted]="form.submitted"
      [errors]="nameEn?.errors"
      [touched]="nameEn?.touched"
      [required]="nameEn?.getError('required')"
      [patternEn]="nameEn?.getError('pattern')"
      [type]="'text'"
      [id]="'organizationNameEn'"
      [name]="'organizationNameEn'"
      [placeholder]="'forms.placeholders.nameEn'"
    ></app-text-input>

    <app-text-area-input
      formControlName="description"
      [id]="'organizationDescription'"
      [name]="'organizationDescription'"
      [placeholder]="'forms.placeholders.description'"
    ></app-text-area-input>

    <div class="flex-between-wrap">
      <button type="submit" class="btn btn-success shadow-none border-0" translate="forms.buttons.save"></button>
      <button (click)="showForm = !showForm; form.resetForm()" class="btn btn-danger shadow-none border-0" translate="forms.buttons.cancel"></button>
    </div>
  </form>
</p-dialog>
<p-dialog [(visible)]="showConfirmDelete" [modal]="true" [style]="{ width: '50vw' }" [breakpoints]="{ '960px': '75vw' }" [draggable]="false" [resizable]="false">
  <div class="flex-middle">
    <div class="swal-icon flex-middle rounded-circle border border-3 border-danger">
      <span class="text-danger">!</span>
    </div>
  </div>
  <div class="text-center my-4">
    <h3 translate="usersManagement.structureManagement.titleDelete"></h3>
    <p class="mt-2" translate="usersManagement.structureManagement.messageDelete"></p>
  </div>
  <div class="flex-between-wrap">
    <button type="submit" class="btn btn-success shadow-none border-0" translate="forms.buttons.confirm"></button>
    <button (click)="showConfirmDelete = false" class="btn btn-danger shadow-none border-0" translate="forms.buttons.cancel"></button>
  </div>
</p-dialog>
