:host ::ng-deep {
  .p-dialog-mask {
    top: 20px;
    .p-dialog {
      margin-inline-start: 5rem;
      .p-dialog-header {
        background-color: var(--main-color);
        .p-dialog-header-close {
          color: white;
          &:hover {
            background-color: transparent;
          }
        }
      }
      .p-dialog-content {
        padding: 10px;
        button {
          width: 48%;
        }
        .swal-icon {
          width: 88px;
          height: 88px;
          span {
            font-size: 60px;
          }
        }
      }
    }
  }
}
section {
  .ag-type {
    span {
      z-index: 1;
      top: -70px;
      right: -70px;
      width:125px;
      height: 125px;
      transition: transform .4s ease;
      background-color: var(--main-color);
    }
    i {
      z-index: 2;
      font-size: 20px;
      cursor: pointer;
      transition: color .4s ease;
    }
    div {
      min-height: 100px;
      a {
        z-index: 2;
        color: black;
        transition: color .4s ease;
      }
    }
    &:hover {
      span {
        transform: scale(10);
      }
      i,
      div a {
        color: white;
      }
    }
  }
}
.overlay-fall {
  transform-origin: top center;
  animation: fall .4s ease-in-out forwards;
  li {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    background-color: #495057;
  }
}
@keyframes fall {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
