article {
  border-radius: 8px;
  border-color: var(--border-color) !important;
  h5 {
    font-size: 16px;
  }
  h3 {
    margin-inline-end: 5px;
  }
  p {
    font-size: 14px;
  }
  h5,
  h6 {
    color: #667085;
  }
  span.rounded-pill {
    margin-inline-end: 5px;
  }
  a {
    color: var(--main-color);
    border-top-color: inherit !important;
  }
}
