<article class="border px-3 py-4">
  <div class="flex-start">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path d="M23 6L13.5 15.5L8.5 10.5L1 18M23 6H17M23 6V12" stroke="#101828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <h6 class="fw-bold" [translate]="title"></h6>
  </div>
  <div class="row">
    <div class="col-md-8 flex-between">
      <ul class="list-unstyled m-0 p-0">
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
            <circle cx="4" cy="4" r="4" fill="#008755"/>
          </svg>
          {{"dashboard.home.achievementsChart.totalActive" | translate}}
        </li>
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
            <circle cx="4" cy="4" r="4" fill="#D0D5DD"/>
          </svg>
          {{"dashboard.home.achievementsChart.inActive" | translate}}
        </li>
      </ul>
      <ul class="list-unstyled m-0 p-0 text-center">
        <li>{{overData[0]}}</li>
        <li>{{overData[1]}}</li>
      </ul>
    </div>
    <div class="col-md-4">
      <p-chart type="doughnut" [data]="data" [options]="options"></p-chart>
    </div>
  </div>
</article>
