@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap");
:root {
  --main-color: #096d22;
  --border-color: #ccc;
  --main-bgc: #f4f7fa;
  --placeholder-color: #dee2e6;
  --font-family: "Cairo", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: var(--font-family);
  background-color: var(--main-bgc);
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--main-color);
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-track-piece:vertical:start {
  background-color: var(--border-color);
}
::-webkit-scrollbar-track-piece:vertical:end {
  background-color: #FFF;
}
::-webkit-scrollbar-button:vertical {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
::-webkit-scrollbar-button:vertical:decrement {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' fill='%23000000' viewBox='0 0 256 256'%3E%3Cpath d='M213.66,165.66a8,8,0,0,1-11.32,0L128,91.31,53.66,165.66a8,8,0,0,1-11.32-11.32l80-80a8,8,0,0,1,11.32,0l80,80A8,8,0,0,1,213.66,165.66Z'%3E%3C/path%3E%3C/svg%3E");
  background-color: var(--border-color);
}
::-webkit-scrollbar-button:vertical:increment {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' fill='%23000000' viewBox='0 0 256 256'%3E%3Cpath d='M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z'%3E%3C/path%3E%3C/svg%3E");
}
input,
select,
textarea {
  border-inline-start-width: 7px !important;
}
::placeholder {
  color: var(--placeholder-color) !important;
}
.error-message {
  font-size: 14px;
}
// Custom CSS Framwork
.flex- {
  &middle {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &evenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  &start {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  &end {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  &align {
    display: flex;
    align-items: center;
    &-wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }
  &between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
  }
}
